<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"> {{plate.title}}</div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-md-6">
            description: {{plate.description}}<br />
            porties: {{plate.portionsavailable}}<br />
            <!-- Pick-up starts at: {{pickuptime}}<br/> -->
            <!-- Pick-up ends at: {{endpickuptime}} -->
            <!-- Pick up address: {{user.address}} -->
          </div>
          <div class="col-md-2">
            <input (click)="onToggle(plate)" class="btn btn-primary" value="pick this plate" />
          </div>
        </div>
