<div *ngIf="plate.portionsAvailable > 0">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"> {{plate.title}}</div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-8">
              description: {{plate.description}}<br />
              portions: {{plate.portionsAvailable}}<br />
              Pick-up starts at: {{plate.startPickupTime}}<br/> -->
              Pick-up ends at: {{plate.endPickupTime}}
              <!-- Pick up address: {{plate.createdUser}} -->
              <!-- must be replaced by address when implemented -->

            </div>
            <form *ngIf="user && user.id != plate.createdUser.id && plate.portionsAvailable > 0" class="col-sm-4" (ngSubmit)="onSubmit()">
              <div>
                <div class="form-group">
                  <label for="startPickupTime" class="col-form-label text-md-right">
                    Pick-up time:
                  </label>
                  <div>
                    <input id="pickupTime" class="form-control" type="datetime-local" name="pickupTime" [(ngModel)]="pickupTime" />
                  </div>
                </div>
                <button type=submit class="btn btn-primary">
                  Pick
                </button>
              </div>
            </form>
            <div *ngIf="user && user.id == plate.createdUser.id" class="col-sm-3">
              <input (click)="onToggleDelete(plate)" class="btn btn-warning custom-btn" value="delete" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
